# Игнорировать виртуальное окружение
venv/
.env/
env/
.venv/

# Игнорировать файлы базы данных
*.sqlite3
*.db

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать статические файлы (если они собираются автоматически)
staticfiles/
mediafiles/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать файлы окружения
.env
.env.local
.env.*
.env.prod
.env.dev

# Игнорировать лог-файлы
*.log

# Игнорировать собранные статические файлы (если используете collectstatic)
static/

# Игнорировать macOS файлы
.DS_Store

# Игнорировать Windows файлы
Thumbs.db